# Secret key for the application. This should be kept secret in production. Example "f88d14d851966093eadbef9cd5f3dd33ad4ee552c49a12cf334cbaef65725429"
SECRET_KEY='' 

# Database URL for the application. This should be configured according to your database setup.
DATABASE_URL='sqlite:///./openctf.db'

# Instance provider for the application. This can be set to 'docker' or 'kubernetes' depending on your deployment environment.
INSTANCE_PROVIDER='docker'

# Host IP address for the application. This should be set to the IP address of the host machine where the application is running.
HOST_DOMAIN='localhost'